@import "../../styles/breakpoints.scss";

.main-container {
  background-color: #f5f5f5;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  left: 0;
  width: 100%;

  @include adjust-with("lg") {
    padding: 40px;
    left: 300px;
    width: calc(100% - 300px);
  }
}
