@import "../../styles/breakpoints.scss";

.deleted-task-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .deleted-task-heading {
    font-size: 20px;
    font-weight: 600;
    color: #3c3c3c;
  }

  .deleted-task {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: calc(100% - 20px);
    max-width: 100% !important;

    @include adjust-with("md") {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .details-conatiner {
      display: flex;
      gap: 20px;
      align-items: center;
    }

    .task-color {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: #3c3c3c;

      &.pending {
        background-color: #007bff;
      }

      &.in-progress {
        background-color: #ffc107;
      }

      &.completed {
        background-color: #28a745;
      }
    }

    .task-details {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      gap: 12px;

      @include adjust-with("lg") {
        gap: 20px;
      }

      .task-title {
        font-size: 16px;
        font-weight: 600;
        color: #3c3c3c;
      }

      .task-date {
        font-size: 14px;
        font-weight: 600;
        color: #636363;
      }

      .task-status {
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        border-radius: 12px;
        padding: 4px 8px;
        &.pending {
          background-color: #007bff;
        }
        &.in-progress {
          background-color: #ffc107;
        }
        &.completed {
          background-color: #28a745;
        }
      }
    }

    .cta-container {
      display: flex;
      gap: 20px;

      .restore-button {
        background-color: #007bff;
        color: #fff;
        padding: 8px 12px;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 8px;

        &:hover {
          background-color: #0056b3;
        }

        .restore-icon {
          width: 16px;
        }
      }

      .delete-button {
        display: flex;
        align-items: center;
        gap: 8px;
        background-color: #dc3545;
        color: #fff;
        padding: 8px 16px;
        border-radius: 4px;
        border: none;
        cursor: pointer;

        &:hover {
          background-color: #c82333;
        }

        .delete-icon {
          width: 18px;
        }
      }
    }
  }
}
